<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISfpRepositoryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://repo/Api/SfpRepositoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISfpRepositoryService"
                contract="SautRepoApi.ISfpRepositoryService" name="BasicHttpBinding_ISfpRepositoryService" />
        </client>
    </system.serviceModel>
</configuration>